.header_actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  column-gap: 16px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  row-gap: 12px;

  [class*='button_text'] {
    display: block;
  }
}

.quick_action {
  background: rgb(var(--marvin-primary)) !important;
  color: rgb(var(--marvin-base)) !important;
  border: 1px solid rgb(var(--marvin-primary)) !important;
  transition: 0.5s;
}

.quick_action:hover {
  background: rgb(var(--ng-primary-40)) !important;
}

.secondary_action {
  border: 1px solid rgb(var(--ng-secondary-content-icon)) !important;
  color: rgb(var(--ng-secondary-content-icon));
  transition: 0.5s;
}

.secondary_action:hover {
  background: rgb(var(--ng-secondary-0));
}

.more_action {
  padding: 0;
  background: rgb(var(--ng-secondary-0));
  transition: 0.5s;

  & span {
    font-size: 20px;
  }

  [class*='marvin_btn'] {
    height: 30px;
    border-radius: var(--ng-rd-8);
  }
}

.toggle_action_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--ng-rd-8);
  background: rgb(var(--ng-neutral-20));
  border: 1px solid rgb(var(--ng-border));
  gap: var(--ng-gp-2);
  width: 64px;

  button {
    padding: var(--ng-rd-4) var(--ng-rd-6);
    height: 24px;
    background: rgb(var(--ng-neutral-20));
    border: none;
    border-radius: var(--ng-rd-6);
  }
}

.toggle_action_active {
  box-shadow:
    0 1px 3px 0 rgba(var(--ng-shadow-black-8)),
    0 1px 2px 0 rgba(var(--ng-shadow-black-5));
  background: rgb(var(--ng-neutral-0)) !important;
}

.default_icon {
  font-size: 20px;
  margin-inline-start: 8px;
  top: -1px;
  position: relative;
}
