.modal_body {
  max-height: 65vh !important;
  min-height: 45vh !important;
  overflow-y: auto !important;
  display: block !important;
}

.field_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 6px;
  padding-inline: 4px 0;
  font-size: 14px;

  .label {
    font-size: 14px;
    width: 25%;
    line-height: 20px;
    word-break: break-word;
    margin-inline-end: 20px;
    color: rgb(var(--marvin-tertiary-text));
  }

  .value {
    color: rgb(var(--marvin-primary-text));
    width: 75%;
    word-break: break-word;
  }
}

.cfs_field {
  font-size: 14px;
  padding-bottom: 4px;
  line-height: 20px;
  margin-inline-start: 4px;
  color: rgb(var(--marvin-tertiary-text));
  font-weight: var(--marvin-fw-regular);
}

.cfs_container {
  border-bottom: 2px solid rgb(var(--marvin-divider-1));
  border-top: 2px solid rgb(var(--marvin-divider-1));
}

.shimmer_row {
  background: rgb(var(--marvin-base));
  padding: 5px;
  display: flex;
  gap: 1rem;

  .shimmer_cell {
    width: 200px;
    height: 20px;
  }
}

.empty_state_container {
  margin-top: 50px;
  margin-inline-end: 16px;
}
