.styled_link {
  text-decoration: none;
  color: rgb(var(--marvin-primary)) !important;
  word-break: break-all;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: 100%;
}

.tooltip_wrapper {
  max-width: 100%;
}

.styled_link:hover {
  text-decoration: underline;
}

.styled_link:focus-visible {
  outline: auto;
}
