.wrapper {
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  background: rgb(var(--marvin-background-2));
  color: rgb(var(--marvin-tertiary-text));
  border-bottom: 1px solid rgb(var(--marvin-divider-1));
}

.action_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  font-size: 16px;
  max-width: 16px;
}

.action {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  &:hover {
    color: rgb(var(--marvin-secondary-text));
  }
}
