.merge_leads_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--marvin-notification-z-index);
  background-color: rgba(0 0 0 / 50%);

  [id='iframe-configure-tab'] {
    background: transparent !important;
  }
}
