.body_wrapper {
  display: flex;
  height: 100%;
  line-height: 22px;
}

.left_panel_wrapper {
  background-color: rgb(var(--marvin-background-2));
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_panel_wrapper {
  flex-grow: 10;
  height: 100%;
}
