.header {
  padding: 16px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  background: rgb(var(--marvin-background-2));
  box-sizing: border-box;

  @media (width <= 1024px) {
    flex-direction: column;
    align-items: unset;
  }

  .left {
    display: flex;
    align-items: center;

    @media (width <= 1024px) {
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }

  .right {
    display: flex;
    gap: 20px;

    @media (width <= 1024px) {
      justify-content: space-between;
      align-items: center;
    }
  }
}
