.status_text {
  padding: 1px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 16px;
  cursor: pointer;
  font-weight: var(--marvin-fw-semibold);
}

.won {
  background-color: rgb(var(--marvin-green-100)) !important;
  border: 1px solid rgb(var(--marvin-green-500)) !important;
  color: rgb(var(--marvin-green-500)) !important;
}

.lost {
  background-color: rgb(var(--marvin-red-100)) !important;
  border: 1px solid rgb(var(--marvin-red-500)) !important;
  color: rgb(var(--marvin-red-500)) !important;
}

.open {
  background-color: rgb(var(--marvin-amber-100)) !important;
  border: 1px solid rgb(var(--marvin-amber-700)) !important;
  color: rgb(var(--marvin-amber-700)) !important;
}

.lost_dark {
  background-color: rgb(var(--marvin-red-900)) !important;
  border: 1px solid rgb(var(--marvin-red-300)) !important;
  color: rgb(var(--marvin-red-300)) !important;
}

.open_dark {
  background-color: rgb(var(--marvin-amber-900)) !important;
  border: 1px solid rgb(var(--marvin-amber-300)) !important;
  color: rgb(var(--marvin-amber-300)) !important;
}

.won_dark {
  background-color: rgb(var(--marvin-green-900)) !important;
  border: 1px solid rgb(var(--marvin-green-300)) !important;
  color: rgb(var(--marvin-green-300)) !important;
}
