.body_wrapper {
  box-sizing: border-box;
}

.editor {
  height: 100%;
}

.hide {
  display: none !important;
}

.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.save_template_button {
  all: unset;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: rgb(var(--marvin-secondary-text));
  margin-inline-end: auto;

  &:hover {
    text-decoration: underline;
  }
}

.email_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attach_file_btn,
.schedule_btn {
  margin-inline-end: 10px;
  padding: 4px 10px;
}

.schedule_button_icon,
.attach_file_icon {
  max-height: 20px;
  max-width: 20px;
  font-size: 20px;
}

.send_button {
  height: 30px;
  width: auto;
  color: rgb(var(--marvin-base));
  font-size: 13px !important;
  line-height: 20px !important;
  padding: 4px 8px;
  gap: 4px;
  user-select: none;
}

.test_email_btn {
  height: 30px;
  margin-inline-start: 10px;
  color: rgb(var(--marvin-base));
  font-size: 13px !important;
  line-height: 20px !important;
  padding: 4px 8px;
  gap: 4px;
  user-select: none;
}

.send_button_icon {
  max-height: 16px;
  max-width: 16px;
  font-size: 16px;
}

.attach_file_icon {
  transform: rotate(45deg);
}

.shimmer_wrapper {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.field_shimmer {
  display: flex;
  min-height: 32px;
  border-radius: 2px;
  width: 70%;
  box-sizing: border-box;
}

.editor_shimmer {
  margin-top: 10px;
  height: 100%;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  background-size: 800px 550px;
}

.footer_shimmer {
  height: 30px;
  width: 70px;
  border-radius: 2px;
}

.attached_files_wrapper {
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  background-color: rgb(var(--marvin-base));
}
