.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.name {
  color: rgb(var(--marvin-quaternary-text));
  width: 16%;
}

.value {
  width: 70%;
}
