.file {
  width: 100%;
  border: 1px solid rgb(var(--marvin-border-1));
  display: flex;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;
  background-color: rgb(var(--marvin-base));
}

.file_preview_box {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
  white-space: nowrap;
}

.file_name {
  cursor: pointer;
  color: rgb(var(--marvin-primary));
  max-width: 95%;
}

.file_name_loading {
  color: rgb(var(--marvin-secondary-text));
  max-width: 90%;
}

.action_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-inline-start: auto;
}

.action {
  max-height: 16px;
  max-width: 16px;
  overflow: hidden;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.action > span {
  font-size: 16px;
}

.clear {
  color: rgb(var(--marvin-icon-1));
}

.spinner {
  display: flex;
  align-items: center;
  margin-inline-start: 10px;
}

.spinner > div {
  height: 16px;
  width: 16px;
}
