.tasks_layout {
  padding: 0 0 16px 16px;
}

.status_filter_wrapper {
  margin-inline-end: 24px;
  z-index: var(--marvin-base-z-index);

  & > div {
    width: 130px;
  }

  [class*='dropdown-content'] {
    & > div {
      margin: 4px 0;
    }
  }

  [class*='option-wrapper'] {
    margin-top: 0;

    & > div {
      line-height: 20px;
    }
  }

  [class*='option-label'] {
    width: 100%;
    margin: 0;
    padding: 6px 12px;
    padding-inline-start: 4px;
    justify-content: space-between;
  }

  @media screen and (width <= 480px) {
    width: 100%;
    margin-inline-end: 0;
    flex-direction: column;

    [class*='dropdown-content'] {
      z-index: var(--marvin-vcard-z-index);
    }

    & > div {
      width: 100%;
    }
  }
}
