.spinner_style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_button {
  color: rgb(var(--marvin-danger-1));
}

.custom_body {
  [class*='confirmation-body'] {
    padding: 0 16px !important;
  }
}
