.body_title {
  font-size: 13px;
  line-height: 18px;
  color: rgb(var(--marvin-secondary-text));
  font-weight: var(--marvin-fw-semibold);
  vertical-align: bottom;
  margin-bottom: 16px;
}

.note_msg {
  color: rgb(var(--marvin-quaternary-text));
  font-size: var(--ng-h-5-fs) !important;
  line-height: var(--ng-h-3-fs);
  padding-bottom: var(--ng-gp-16);
}

.dropdown_wrapper {
  [class*='dropdown_container'] {
    width: 100%;
  }

  [class*='input-container'] {
    max-height: 32px;
  }

  [class*='dropdown-content'] {
    z-index: 12;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.bulk_update_queue {
  font-size: 13px;
  color: rgb(var(--marvin-tertiary-text));
  min-height: 250px;
}

.body_shimmer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-bottom: 8px;
}

.partial_success_message_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 16px;
  line-height: 24px;
  min-height: 250px;
}

.partial_success_count {
  font-weight: var(--marvin-fw-semibold);
}

.partial_success {
  color: rgb(var(--marvin-success-1));
}

.partial_failure {
  color: rgb(var(--marvin-danger-1));
}
