.subject_wrapper {
  display: flex;
  gap: var(--ng-gp-4);
  align-items: center;
  color: rgba(var(--ng-neutral-70));
}

.cancelled_task {
  color: rgba(var(--ng-quaternary-text));
  text-decoration: line-through;

  svg {
    opacity: 0.5;
  }
}

.recurring_icon {
  width: 16px !important;
  height: 16px !important;
  flex-shrink: 0;
  fill: rgba(var(--ng-neutral-60));
}

.content_wrapper,
.subject {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task_icon {
  height: 12px !important;
  width: 12px !important;
  flex-shrink: 0;
}

.success_task_icon {
  height: 6px !important;
  width: 6px !important;
  flex-shrink: 0;
  position: absolute;
  right: -1px;
  bottom: -0;

  rect {
    fill: rgba(var(--ng-green-50)) !important;
  }
}

.icon_wrapper {
  padding: 2px var(--ng-gp-4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: var(--ng-rd-4);
  cursor: pointer;
}
