.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  max-height: 35px;
}

.outer_container {
  display: flex;
  height: 40px;
  max-height: 40px;
  width: 100%;
  padding: var(--ng-gp-8) var(--ng-gp-4);
  align-items: center;
  border-radius: var(--ng-rd-8);
  border: 1px solid rgba(var(--ng-secondary-10));
  background: rgba(var(--ng-neutral-0));
}

.inner_container {
  display: flex;
  height: 32px;
  max-height: 32px;
  width: 100%;
  padding: var(--ng-gp-2);
  align-items: center;
  gap: var(--ng-gp-4);
  border-radius: var(--ng-rd-6);
  background: rgba(var(--ng-secondary-0));
}

.divider {
  width: 1px;
  margin-inline: 10px 10px;
  height: 35px;
  background-color: rgb(var(--marvin-divider-1));
}
