.layout_spinner_container {
  height: 95vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route_container {
  /* 46px comes from height of top-navigation */
  height: calc(100% - 46px);
  flex: 1;
  background-color: rgb(var(--marvin-base));
}

.ng_route_container {
  /* 85px comes from height of top-navigation */
  height: calc(100% - 85px);
  flex: 1;
  width: 100%;
  padding: 0 var(--ng-gp-16) var(--ng-gp-16) var(--ng-gp-16);
  background: rgb(var(--ng-neutral-20));
  gap: var(--ng-gp-12);
  box-sizing: border-box;
}

.layout {
  height: 100vh;
  background: rgb(var(--ng-neutral-20));
  display: flex;
  flex-direction: column;
}
